<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container" id="contact-div">
        <div class="row" id="contact-row">
            <div class="col-sm-6">
                <h1>Contato</h1>
                <hr>
                {% bootstrap_messages %}
                <form class="form" id="contact-form" action="{% url 'contact' %}" method="post"  autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}<button class="btn btn-primary" type="submit">Enviar Mensagem</button>{% endbuttons %}
                </form>
            </div>
        </div>
    </div>



{% bootstrap_javascript jquery='full' %}
</body>
</html>