<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container" id="product-div">
        <div class="row" id="product-row">
            <div class="col-sm-6">
                <h1>Produto</h1>
                <hr>
                {% bootstrap_messages %}
                <form class="form" id="product-form" action="{% url 'product' %}" method="post"  autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                    <hr>
                {% buttons %}<button class="btn btn-primary" type="submit">Cadastrar</button>{% endbuttons %}
                </form>
            </div>
        </div>
    </div>


{% bootstrap_javascript jquery='full' %}
</body>
</html>